.welcome-wrapper { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr)
}

.forest-div {
    grid-column: 1 / 13;
    grid-row: 1 / 6;
    background-image: url(../../images/landscape-forest.gif);
}


.description-div {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
}