.home-wrapper { 
    display: grid;
}

.path-wrapper {
    display: grid;
    background-image: url(../../images/woods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.home-message {
    grid-column: 4 / 10;
    grid-row: 3 / 4;
    font-size: 50px;
    padding-left: 75px;
    color: #ece0cd;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.search-comp {
    grid-column: 4 / 10;
    grid-row: 4 / 6;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#map-button, #spot-button{
    font-weight: bold;
    color: #ece0cd;
    text-shadow: 2px 2px #000000;
    margin: 8px 8px;
}

#map-button:hover{
    cursor: pointer;
}

#map-button > a, #spot-button > a{
    text-decoration: none;
    color: #ece0cd;
}

.spots-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(236, 224, 205, 0.5);
    border-top: 2px solid rgb(46, 46, 46);
    padding: 37px 37px;
}

