.spot-container img { 
    height: 525px;
    width: 637px;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 8px;
}

.spot-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 50px;
    font-size: 20px;
    padding: 50px 0px;
    text-align: center;
    color: rgb(46, 46, 46);
}

.location {
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
}

.price {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(46, 46, 46);
}