.spot-link{
    text-decoration: none;
}

.spot-container img { 
    height: 262px;
    width: 319px;
    border-radius: 8px;
}

#home-spot-img:hover{
    transform: scaleY(1.04);
    transform-origin: center;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.1);
}

.spot-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 38px;
    font-size: 15px;
    padding: 38px 0px;
    text-align: center;
    color: rgb(46, 46, 46);
}

.location {
    font-size: 18px;
    margin-top: 12px;
    font-weight: bold;
}

.price {
    margin-top: 8px;
    font-size: 15px;
    color: rgb(46, 46, 46);
}