.spot-container img { 
    height: 393px;
    width: 478px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px  rgb(46, 46, 46);
}

.spot-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 38px;
    font-size: 15px;
    padding: 38px 0px;
    text-align: center;
    color: rgb(46, 46, 46);
}

.location {
    font-size: 18px;
    margin-top: 4px;
    font-weight: bold;
}

.price {
    margin-top: 8px;
    font-size: 15px;
    color: rgb(46, 46, 46);
}