.footer-container {
    display: grid;
    height: 6em;
    background-image: url(../../images/cream.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-weight: bold;
    color: rgb(46, 46, 46);
    border-top: 2px solid rgb(46, 46, 46);
  }

  .quote {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
    font-size: 1em;
  }
  
  .copyright {
    display: flex;
    grid-column: 10 / 13;
    grid-row: 2 / 3;
    justify-self: end;
    align-items: center;
    padding-right: 25px;
  }

.linkedin {
  display: flex;
  grid-column: 10 / 13;
  grid-row: 3 / 4;
  justify-self: end;
  align-items: center;
  padding-right: 22px;
}

.linkedin, .copyright { 
  font-size: 12px;
}

.linkedin > a {
  /* text-decoration: none; */
  padding-left: 5px;
  color: rgb(46, 46, 46);
}