.footer-container {
    display: grid;
    height: 10em;
    background-image: url(../../images/cream.jpg);
    background-position: bottom;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .copyright {
    display: flex;
    grid-column: 10 / 13;
    justify-self: end;
    align-items: center;
    padding-right: 30px;
    font-size: 20px;
    color: rgb(46, 46, 46);
}