.spot {
    background-image: linear-gradient(to top, white, #75a377);
}

#single-spot {
    padding-top: 140px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 200px 100px;
}

#spot-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#spot-image > img{
    height: 312px;
    width: 369px;
}

#spot-information {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

#spot-title {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

#spot-location {
    text-align: left;
    font-size: 12px;
    padding: 10px 0px 10px 15px;
}

#spot-price {
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
}

#spot-features-title{
    font-weight: bold;
    text-align: left;
    grid-column: 1 / 4;
    grid-row: 2 / 3 ;
}

#spot-features {
    padding-top: 20px;
    text-align: left;
    grid-column: 1 / 4;
    grid-row: 2 / 3 ;
}

#spot-description-title {
    padding-top: 105px;
    font-weight: bold;
    text-align: left;
    grid-column: 1 / 4;
    grid-row: 2 / 3 ;
}

#spot-description {
    padding-top: 125px;
    text-align: left;
    grid-column: 1 / 4;
    grid-row: 2 / 3 ;
}

.review-form-wrapper {
    display: flex;
    width: 300px;
    grid-column: 12 / 10;
    grid-row: 2 / 3;
}

#review-form label {
    font-weight: bold;
}

#review-form textarea {
    height: 125px;
    width: 300px;
}

.reviews {
    margin: auto;
    margin-top: 0px;
    grid-column: 8 / 10;
    grid-row: 1 / 2 ;
}

#review-title {
    font-size: 15px;
    font-weight: bold;
}

.booking-form {
    color: #2e2e2e;
    grid-column: 12 / 12;
}

.booking-label {
    font-weight: bold;
}

.date-picker {
    margin-left: 10px;
    font-weight: normal;
    border-radius: 10px;
}

.review-button, .book{
    border-radius: 10px;
    border-style: none;
    background-color: #2e2e2e;
    color: white;
    padding: 8px 8px;
    margin: auto;
    text-align: center;
}

.review-button:hover, .book:hover {
    background-color: rgba(46, 46, 46, 0.8);
}

#review-form select{
    margin-left: 5px;
}

#booked-msg{
    font-weight: bold;
    margin-top: 10px;
}