.host-spot-wrapper{
    height: 43em;
    display: flex;
}

#create-spot-form{
    padding-top: 8em;
    margin-left: 9em;
}

#host-title{
    font-size: 2.5em;
    font-weight: bold;
    color: #2e2e2e;
}

#create-spot{
    border-radius: 10px;
    border-style: none;
    background-color: #2e2e2e;
    color: white;
    padding: 8px 8px;
    margin-top: 20px;
    margin-left: 3em;
    width: 110px;
    text-align: center;
}

#create-spot:hover {
    background-color: rgba(46, 46, 46, 0.8);
}

#host-img{
    height: 33em;
    width: auto;
    margin-top: 8em;
    margin-left: 7em;
}