body { 
    display: flex;
    justify-content: center;
    background-image: url(../../images/mountain-trees.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.login-wrapper {
    height: 60vh;
}

form { 
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

form.login-form {
    background-color: rgba(173, 216, 230, 0.8);
    color: darkblue;
    border: 3px solid darkgrey;
    margin-top: 100px;
    width: 40vw;
}

form > * {
    padding: 10px;
}
