
.login-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    background-image: url(../../images/mountain-trees.jpg);
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: center;
}

form { 
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

form.login-form {
    background-color: rgba(173, 216, 230, 0.8);
    color: darkblue;
    border: 3px solid darkblue;
    margin-top: 100px;
    width: 50vw;
}

form > * {
    padding: 10px;
}
