.login-wrapper {
    height: 750px;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);    
    background-image: url(../../images/map.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    background-color: rgba(173, 216, 230, 0.7);
    color: darkblue;
    border: 3px solid darkblue;
    border-radius: 10px;
    font-size: 25px;
    height: 200px;
    width: 380px;
    justify-content: center;
    align-items: center;
}

.errors {
    padding-left: 20px;
    font-size: 15px;
    list-style-type: none;
}

.submit {
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

form > * {
    padding: 10px;
}