.search-wrapper {
    width: 250px;
    min-height: 30px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.search-input {
    display: block;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}

.search-button-container {
    margin: 5px;
    grid-row: 1 / 2;
    grid-column: 4 / 4;
}

.search-results {
    font-size: 15px;
}

#spot-link {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}
