.search-wrapper {
    width: 300px;
    /* width: 250px; */
    min-height: 35px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding: 0px 10px;
}

.search-input {
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
}

.search-results {
    font-size: 14px;
}

#spot-link {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding: 5px 0px;
}
