.signup-max {
    background-image: linear-gradient(to bottom, rgba(173, 216, 230, 0.7), rgba(117, 163, 119, 0.7));
}

.signup-wrapper { 
    height: 750px;
    background-image: url(../../images/map2.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10% 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);    
}

#signup { 
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    color: #2e2e2e;
    border-radius: 10px;
    font-size: 20px;
    height: 200px;
    width: 380px;
    align-content: flex-start;
    flex-wrap: column-wrap;
    flex-direction: column;
    grid-column: 8 / 10;
    grid-row: 2 / 5;
}

form > * {
    padding: 10px;
}

input { 
    height: 20px;
    border-radius: 10px;
}

.submit-buttons > button { 
    border-radius: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #2e2e2e;
    color: white;
    padding: 10px 8px;
    margin: auto;
    text-align: center;
}

.submit-buttons > button:hover {
    background-color: rgba(46, 46, 46, 0.8);
}