.nav-container {
    display: grid;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 7em;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 50px;
    font-size: 25px;
}

form input {
    height: 25px;
    font-size: 20px;
}

button {
    border-radius: 40px;
    margin-left: 20px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    background-color: white;
}

button:hover { 
    background-color: rgb(184, 190, 185);
}