.profile-button:hover { 
    background-color: rgb(184, 190, 185);
}

.profile-button {
    display: flex;
    font-size: 30px;
    color: #2e2e2e;
    padding: 5px 9px;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.9;
}

.profile-dropdown {
    margin-left: 30px;
    list-style: square;
    font-weight: bold;
    font-size: 15px;
}

.logout {
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;

}