.profile-button:hover { 
    background-color: rgb(184, 190, 185);
}

.profile-button {
    display: flex;
    font-size: 35px;
    padding: 5px 12px;
    justify-content: center;
    cursor: pointer;
}

.profile-dropdown {
    margin-left: 40px;
    list-style: square;
    font-weight: bold;
    font-size: 20px;
}

.logout {
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;

}